#NAME: JASH SHAH

#STUDENT ID: 202201016

In [3]:
# Import required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Step 1: Fetch the webpage content
url = "https://www.tfrrs.org/"
response = requests.get(url)

# Step 2: Parse the webpage content using BeautifulSoup
soup = BeautifulSoup(response.text, 'html.parser')

# Step 3: Locate the relevant table (Assuming it's the first table on the page)
# This will depend on the table structure, but for now, we'll assume a simple table
table = soup.find('table')  # Locate the first table in the page

# Step 4: Extract the table headers
headers = []
for th in table.find_all('th'):
    headers.append(th.text.strip())

# Step 5: Extract the table rows
rows = []
for row in table.find_all('tr'):
    cells = row.find_all('td')
    if len(cells) > 0:
        row_data = [cell.text.strip() for cell in cells]
        rows.append(row_data)

# Step 6: Create a DataFrame using the extracted headers and rows
df = pd.DataFrame(rows, columns=headers)

# Step 7: Perform some basic preprocessing
# Handling missing values (fill with NaN)
df.replace("", pd.NA, inplace=True)

# Convert columns to appropriate data types if needed
# This part will depend on the table's contents. For now, we'll assume no specific conversions.

# Step 8: Display the first few rows of the DataFrame
print(df.head())

# Step 9: Save the DataFrame to a CSV file (Optional)
df.to_csv('tfrrs_data.csv', index=False)

     DATE                                 MEET NAME STATE              VENUE
0  Oct 10       PVAMU Clifton Gillard Cross Country    TX       Prairie View
1  Oct  9                        Principia Twilight    IL          Principia
2  Oct  8                        CCNY John Jay Dual    NY               CCNY
3  Oct  6  Queensborough Cross Country Invitational    NY  Van Cortland Park
4  Oct  5                  Ted Castaneda XC Classic    CO   Colorado College

In [4]:
print(df)

      DATE                                 MEET NAME STATE  \
0   Oct 10       PVAMU Clifton Gillard Cross Country    TX
1   Oct  9                        Principia Twilight    IL
2   Oct  8                        CCNY John Jay Dual    NY
3   Oct  6  Queensborough Cross Country Invitational    NY
4   Oct  5                  Ted Castaneda XC Classic    CO
..     ...                                       ...   ...
70  Sep 28                     2024 Cougar Challenge    CA
71  Sep 28         Jessup Cross Country Invitational    CA
72  Sep 28            Harry F. Anderson Invitational    NY
73  Sep 28                       Thomas Invitational    ME
74  Sep 28                   Brown Bear Invitational    MA

                        VENUE
0                Prairie View
1                   Principia
2                        CCNY
3           Van Cortland Park
4            Colorado College
..                        ...
70         Cal St. San Marcos
71  William Jessup University
72           Roberts Wesleyan
73             Thomas College
74              Highland Park

[75 rows x 4 columns]